/*---------------global styles-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



:root {
    --color1: #283E53;
    --color2: #71B6BE;
    --color3: #EEEEEE;
    --color4: #FFFFFF;
    --color5: #C0C0C0;
    --color6: #e1e1e1;
}

/*-------------------typography----------------*/
body {
    font-family: Poppins, sans-serif;
}

.navigation-logo {
    font-family: Austein, Serif;
    font-size: 30px;
    color: #283E53;
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li a {
    text-decoration: none;
    color: #283E53;
    text-transform: capitalize;
    font-weight: 500;
}

h1 {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.hero-section__inner-container p {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
}

.find-button,
.calculator__search-button,
.add-button {
    text-transform: capitalize;
    text-align: left;
    background:  #70b5be;
    color: #283E53;
    font-weight: 600;
}

/*-----------layout-------------*/

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.find-button,
.calculator__search-button,
.add-button {
    border-radius: 3px;
    border: 3px;
    padding: 10px 30px;
    cursor: pointer;
}

.find-button::after,
.calculator__search-button::after {
    content: " →";
    }

/*-----------navigation-----------*/

.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background-color: #EEEEEE;
}

.navigation-logo {
    flex-basis: 50%;
    }

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 80%;
    margin-right: 80px;
}

.navigation-list li a{
    margin-left: 40px;
}

/*--------------header hero---------------*/

.hero-section__outer-container {
    background-image: url("./assets/images/hero-image.jpg");
    background-size: cover;
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.hero-section__inner-container {
    min-width: 800px;
    align-self: center;
    margin-right: 12%;
}

/*-------------feature recipe--------------*/

.header__featured-recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.featured-recipes__recipe-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    position: relative;
    top: -15px;
    z-index: 1;
    height: 175px;
}

.featured-recipes__recipe-card > img{
    height: 120px;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.featured-recipes__recipe-card:nth-of-type(2) {
    width: 45%;
    top: -30px;
    z-index: 2;
    box-shadow: 0 10px 20px 0 #C0C0C0;
}
.featured-recipes__recipe-card:nth-of-type(2) > img {
    height: 150px;
}

.featured-recipes-recipes-card__text {
    padding: 10px 15px 10px 15px;
    background-color: #eeeeee;
    border: 1px solid #e1e1e1;
    box-shadow: 0 5px 15px -5px #C0C0C0 ;
}

.featured-recipes-recipes-card__calories-ingredients {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.featured-recipes-recipe-card__time {
    display: flex;

}

.featured-recipes-recipe-card__time img {
    margin-right: 5px;
    margin-left: 5px;
}

/*----------recipe search-----------*/

.recipe-search__outer-container {
    width: 100%;
    background-color: #283E53;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 10px 10px 10px 10px;
}

.recipe-search__inner-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;

}

#searchRecipe, .recipe-search__dropdown {
    padding-left: 10px;
    padding-right: 20px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #C0C0C0;
    margin: 5px;
    gap: 2em
}

/*------------search-results------------*/

.fetched-recipes__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    gap: 20px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipe-link {
    text-decoration: none;
    color: black;
}

.fetched-recipes__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    position: relative;
    text-decoration: none;
    }

.fetched-recipes__card > img {
    height: 150px;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.fetched-recipes-card__title {
    padding: 10px 10px 10px 10px;
    background-color: #eeeeee;
    border: 1px solid #e1e1e1;
    box-shadow: 0 5px 10px -5px #C0C0C0;
    border-radius: 0 0 5px 5px;
}

.fetched-recipes-card__title > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fetched-recipes-card__calories-ingredients {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.fetched-recipes-card__time {
    display: flex;
}

.fetched-recipes-card__time > img {
    margin-right: 5px;
}



/*-------------------footer--------------*/

.footer__outer-container {
    background-color: #283E53;
    width: 100%;
    flex-basis: 150px;
}

.footer__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 500px;
    margin: 30px;
    gap: 90px;
}

.icons {
    width: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.icons img{
    background-color: #71B6BE;
    border-radius: 100%;
    padding: 3px 3px 3px 3px;
    margin: 5px;
    }

.footer-card__list {
    list-style-type: none;
    font-size: 15px;

}

.footer-card__list a {
    text-decoration: none;
    color: #C0C0C0;
    }

.footer__card > h4 {
    color: #71B6BE;
    margin-bottom: 15px;
}

/*------------recipe page-------------*/

.recipe-page-main__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    align-self: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.recipe-page-main__recipe-description {
    width: 70%;
    padding-right: 15%;
    margin-bottom: 20px;
}

.recipe-description__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.recipe-description__title h1 {
    color: #283E53;
}

.recipe-description__title img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 6px;
}

.recipe-page-main__image {
    width: 30%;
}

.recipe-page-main__ingredients {
    width: 70%;
}

.recipe-page-main-ingredients__ingredient-list {
    margin-bottom: 20px;
    padding-left: 25px;
}

.recipe-page-main-ingredients__ingredient-list li {
    margin-bottom: 10px;
    padding-left: 10px;
}

.recipe-page-main__nutrients {
    width: 30%;

}

.recipe-nutrients-items__row-1 {
    padding-right: 170px;
    padding-top: 10px;
}

.recipe-nutrients-items__row-2 {
    padding-right: 15px;
    text-align: right;
}

.recipe-page-main__health-labels {
    width: 100%;
}

.recipe-page-health-labels__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recipe-page__health-label-item {
    background-color: #71B6BE;
    padding: 6px 8px 6px 8px;
    border-radius: 20px;
    border: 1px solid #283E53;
}

/*---------calculator-------------*/

.calculator__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    align-self: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.calculator__main-title,
.calculator__search,
.calculator__product-info,
.calculator__servings,
.calculator__fetchedData {
    width: 100%;
    margin-bottom: 20px;
}

.calculator__main-title h1 {
    color: #283E53;
}

.calculator-product-info-type th {
    padding-right: 50px;
    padding-bottom: 10px;
}

.calculator-fetchedData__type th {
    text-align: center;
    padding-right: 50px;
}

.calculator-fetchedData__data td{
    padding-right: 50px;
    padding-bottom: 10px;
}

.calculator-fetchedData__total-of-data td{
    border-top: 1px solid #283E53;
}

#query__calculator,
#calculator-servings-form__input {
    width: 200px;
    height: 35px;
}

.calculator__search-button {
    margin-left: 80px;
}